<div *ngIf="user">
    <h2>Details of {{user.firstName | uppercase}}</h2>
    <div><span>Id: </span>{{user.id}}</div>
    <div>
      <label>First Name:
        <input [(ngModel)]="user.firstName" placeholder="First Name"/>
      </label>
      <label>Last Name:
        <input [(ngModel)]="user.lastName" placeholder="Last Name"/>
      </label>
      <label>Age:
        <input [(ngModel)]="user.age" placeholder="Years"/>
      </label>
    </div>
  </div>

  <button (click)="goBack()">Go Back</button>
  <button (click)="save()">save</button>